<%= react_component("Navigation") %>
<div class="page-container">
  <div class="form-panel">
    <%= react_component("Header") %>
    <%= form_for(@order, remote: true) do |f| %>
      <%= f.label(:name, "Order name") %>
      <%= f.text_field(:name) %>
      <%= f.hidden_field(:id, value: @initial_order_id) %>
      <%= f.submit("Place Order") %>
    <% end %>
  </div>
  <div class="results-panel">
    <%= react_component("QueueColumn", { name: "Placed", style: "grid-area: Placed"})%>
    <%= react_component("QueueColumn", { name: "Grilled", style: "grid-area: Grilled"})%>
    <%= react_component("QueueColumn", { name: "Condiments", style: "grid-area: Condiments"})%>
    <%= react_component("QueueColumn", { name: "Wrapped", style: "grid-area: Wrapped"})%>
    <%= react_component("QueueColumn", { name: "Completed", style: "grid-area: Completed"})%>
  </div>
</div>
