<h1>Order Placement Screen</h1>

<%= form_for(@order, remote: true) do |f| %>
  <%= f.label(:name, "Order name") %>
  <%= f.text_field(:name) %>
  <%= f.hidden_field(:id, value: 1) %>
  <%= f.submit("Place Order") %>
<% end %>

<h3>Orders placed</h3>
<ul id="orders-list">
</ul>